<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <title>Lucky Straw LIFF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="liff-body">
    <main class="liff-main">
      <%- body %>
    </main>
  </body>
</html>
